body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../parte1/imgs/wp4898015.jpg');
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-position: center; 
}
